<body>
<div id="root"></div>
<script type="text/javascript"
        charset="utf-8"
        src="./target/scala-2.13/scalajs-bundler/main/react-admin-tutorial-scala-fastopt-library.js"></script>
<script type="text/javascript"
        charset="utf-8"
        src="./target/scala-2.13/scalajs-bundler/main/react-admin-tutorial-scala-fastopt-loader.js"></script>
<script type="text/javascript"
        charset="utf-8"
        src="./target/scala-2.13/scalajs-bundler/main/react-admin-tutorial-scala-fastopt.js"></script>
</body>
